In [15]:
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [16]:
#Gets the data from the scraper and deletes the index column
stats = pd.read_csv('total.csv')
del stats['Unnamed: 0']
raptor = pd.read_csv('modern_RAPTOR_by_player.csv')

In [17]:
raptor_clean = raptor[['player_name','raptor_total', 'season', 'mp']]

columns_to_rename = {'player_name': 'Player','raptor_total': 'Raptor'}
raptor_clean = raptor_clean.rename(columns = columns_to_rename)
raptor_clean['Raptor'] = round(raptor_clean['Raptor'], 1)

In [18]:
#Gets Predidctor variables

columns_to_drop = ['SEASON',
 'PLAYER_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'Player',
 'POSITION',
 'PER',
 'BPM',
 'Year',
 'Pick',
 'Age',
 'Pos',
 'STANDING_REACH_FT_IN']

predictors = (stats.drop(columns = columns_to_drop)).columns

In [19]:
def choose_year(year):
    
    #Training the model 
    train = stats[stats["Year"] < year]
    test = stats[stats['Year'] == year]
    reg = Ridge(alpha = 0.001)
    reg.fit(train[predictors], train['Pick'])

    #Getting predicitons in a dataframe
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns = ['Predictions'], index = test.index)
    combination = pd.concat([test[['Player', 'Pick']], predictions], axis = 1)
    
    #Getting Mean Square Error
    mse = mean_squared_error(combination['Pick'], combination['Predictions'])
    string = 'The mean square error for this draft is: ' + str(mse)
    
    #Displays rank which refers to each players draft position relative to one another in the given dataset as well as the predicted rank and difference
    #Not used cause clutter
    combination = combination.sort_values('Pick', ascending = True)
    combination['RK'] = list(range(1, combination.shape[0]+1))
    combination = combination.sort_values('Predictions', ascending = True)
    combination['Predicted_RK'] = list(range(1, combination.shape[0]+1))
    combination['Difference'] = combination['Predicted_RK'] - combination['RK']

    #Gets a clutter free df 'clean' which neatly displays information
    important_columns = ['Player',  'Pick',  'Predictions']
    clean = combination.loc[:,important_columns]
    clean['Predictions'] = round(clean['Predictions'], 0)
    clean['Predictions'] = clean['Predictions'].astype(int)
    clean['Difference'] = combination['Pick'] - clean['Predictions'] 
    
    #Raptor, next step is use outer merge to get players with 0 min play
    final = pd.merge(clean, raptor_clean[raptor_clean['season'] == 2021], on='Player', how = 'left')
    final = final.fillna(0)
    final['Score'] = (final['Pick'] -final['Difference'].mean() - final['Predictions']) *  final['mp']
    score = sum(final['Score'])
    return final, score

In [20]:
#year = input("Enter the draft class you would like to predict: ")

In [21]:
#choose_year(int(year))

In [22]:
choose_year(int(2015))[0]

,Player,Pick,Predictions,Difference,Raptor,season,mp,Score
0,Rondae Hollis-Jefferson,23,8,15,-3.0,2021.0,143.0,1618.964286
1,Sam Dekker,18,11,7,0.0,0.0,0.0,0.000000
2,Norman Powell,46,19,27,0.2,2021.0,2421.0,56461.178571
3,Justin Anderson,21,20,1,0.0,0.0,0.0,-0.000000
4,R.J. Hunter,28,22,6,0.0,0.0,0.0,0.000000
5,Cameron Payne,14,24,-10,4.2,2021.0,1497.0,-20476.821429
6,Marcus Thornton,45,25,20,0.0,0.0,0.0,0.000000
7,Terry Rozier,16,25,-9,1.6,2021.0,2383.0,-30213.035714
8,J.P. Tokoto,58,26,32,0.0,0.0,0.0,0.000000
9,Delon Wright,20,26,-6,2.6,2021.0,1748.0,-16918.142857
10,Branden Dawson,56,26,30,0.0,0.0,0.0,0.000000
11,Devin Booker,13,26,-13,2.7,2021.0,3159.0,-52687.607143
12,Jarell Martin,25,27,-2,0.0,0.0,0.0,-0.000000
13,Marcus Thornton,45,29,16,0.0,0.0,0.0,0.000000
14,Richaun Holmes,37,29,8,2.1,2021.0,1782.0,7700.785714
15,Dakari Johnson,48,31,17,0.0,0.0,0.0,0.000000
16,Anthony Brown,34,31,3,0.0,0.0,0.0,-0.000000
17,Bobby Portis,22,32,-10,2.7,2021.0,1738.0,-23773.357143
18,Andrew Harrison,44,33,11,0.0,0.0,0.0,0.000000
19,Rakeem Christmas,36,33,3,0.0,0.0,0.0,-0.000000
20,Pat Connaughton,41,34,7,1.8,2021.0,2121.0,7044.750000
21,Olivier Hanlan,42,38,4,0.0,0.0,0.0,0.000000
22,Rashad Vaughn,17,38,-21,0.0,0.0,0.0,-0.000000
23,Jordan Mickey,33,38,-5,0.0,0.0,0.0,-0.000000
24,Tyus Jones,24,47,-23,-0.2,2021.0,1269.0,-33855.107143
25,Marcus Thornton,45,47,-2,0.0,0.0,0.0,-0.000000
26,Tyler Harvey,51,48,3,0.0,0.0,0.0,-0.000000
27,Marcus Thornton,45,51,-6,0.0,0.0,0.0,-0.000000

In [163]:
test = 0
for year in range(2014,2021):
    print(year)
    print(choose_year(int(year))[1])
    test = test + choose_year(int(year))[1]
test

2014
-179174.38709677415
2015
-105098.39285714287
2016
-38748.25
2017
-65277.57575757573
2018
-96952.0
2019
-54204.181818181816
2020
-30987.999999999996

-570442.7875296746

In [29]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import draftcombinestats
from nba_api.stats.endpoints import commonplayerinfo
def get_mp(name):
    player_dict = players.get_players()
    player = player_dict['full_name' == name]
    player_info = commonplayerinfo.CommonPlayerInfo(player_id=player['id'])
    df = player_info.get_data_frames()
    return(df)

In [35]:
a = get_mp('Steven Adams')
a[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24T00:00:00,Duke,USA,...,HISTADD_alaa_abdelnaby,1990,1994,N,Y,Y,1990,1,25,N